@font-face {
  font-family: 'UniversLTStdLight';
  src:  url('../fonts/UniversLTStdLight.eot') format('eot'),
        url('../fonts/UniversLTStdLight.svg') format('svg'),
        url('../fonts/UniversLTStdLight.woff') format('woff'),
        url('../fonts/UniversLTStdLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyFont';
  src:  url('../fonts/HelveticaNeue-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeue-Medium.ttf') format('ttf'),
        url('../fonts/HelveticaNeue-Medium.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}